.side-mini {
    position: fixed;
    right: 15px;
    top: 100px;
    width: 180px;
    background: white;
    color: white;
    padding: 15px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 999;
}

.side-mini h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #030303;
}

.side-mini p {
    margin: 5px 0;
    font-size: 14px;
}

.side-mini hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 10px 0;
}





/* Container centralizado (caso precise) */
.botao-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Estilo geral dos botões */
button {
    width: 100%;            /* Responsivo */
    max-width: 600px;      /* Limite no desktop */
    padding: 12px 20px;
    font-size: 16px;
    background-color: #ffffff; /* Branco */
    color: #000;           /* Texto preto */
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

/* Hover */
button:hover {
    background-color: #f7f7f7; /* Leve cinza no hover */
}

/* Active */
button:active {
    background-color: #ececec;
}

/* Estilos específicos */
.btn-primario {
    border-color: #cfcfcf;
}

.btn-secundario {
    border-color: #d9d9d9;
}
